<div class="uk-container">
    <div class="uk-text-large uk-text-lead-capi">Dashboard</div><br/>
    <span uk-spinner="ratio: 4.5" style="position:absolute; top:50%; left:50%;" *ngIf="showSpinner"></span>
    <div *ngIf="dataLoaded" class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div *ngFor="let capiStatistics of capiStatisticsList" class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <span class="icon-capi-medium"></span>
            <h3 class="uk-card-title">Hostname: {{ capiStatistics.node }}</h3>
            Capi Version: <span class="uk-label dashboard-card-elements">{{ capiStatistics.capiVersion }}</span>
            Spring Boot Version: <span class="uk-label dashboard-card-elements">{{ capiStatistics.capiSpringVersion }}</span>
            Apache Camel Version: <span class="uk-label dashboard-card-elements">{{ capiStatistics.camelVersion }}</span>
            Uptime: <span class="uk-badge-green dashboard-card-elements">{{ capiStatistics.uptime }}</span>
            Total Routes: <span class="uk-badge-green dashboard-card-elements">{{ capiStatistics.totalRoutes }}</span>
        </div>
    </div>    
</div>